spring:
  application:
    name: smart-entrance-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/smart_entrance
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: validate