spring:
  application:
    name: smart-entrance-backend

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 3600000       # 1 hour (Short term)
      remember-me:
        expiration: 604800000  # 7 days (Long term)
      cookie-name: accessToken
      secure-cookie: false       # Set to true in production with HTTPS
  base-url: http://localhost:8080

payment:
  currency: EUR

  stripe:
    api-key: ${STRIPE_API_KEY}
    webhook-secret: ${STRIPE_WEBHOOK_SECRET}

file:
    upload-dir: ./backend/uploads